.section-cart h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.section-cart div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.section-cart footer {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.section-cart footer p {
   margin-left: 10px;
   margin-right: 10px;
}

.section-cart footer button {
    width: 90px;
   background-color: orange;
   border-radius: 10px;
}



