.section-discover h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.section-discover div {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}